@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}

body{

width: 100%;
min-height: 100vh;
background-color: #FF1616;
justify-content: right;
display: flex;
align-items: center;
}

.container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
    margin-right: 150px;
    overflow: hidden;
         
}

.img img {

    width: 110vh;
    height: 100vh;
    margin-right: 50px;
 
}

.header {

    background-color: #eee;
    padding: 20px;

}

.form {

    padding: 20px;
  

}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {

    margin-bottom: 5px;
    display: inline-block;
}

.form-control input {

    border: 1px solid #e2d9d9;
    display: inline-block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px; 
}

.form-control i {
    position: absolute;
    visibility: hidden;
    top: 45px;
    right: 10px;
}

.form-control small {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;
}
.form-control-passwordtwo label{

    margin-top: 22px;
}

.form button {

    background-color: #FF1616;
    padding: 9px 18px;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}

.form-control.success input{
    border-color: rgb(8, 199, 8);
    border-radius: 5px solid;
}

.form-control.error input{
    border-color: #FF1616;
    border-radius: 5px solid;
    margin-bottom: 10px;
}

.form-control.success i.check-circle{

    color: rgb(8, 199, 8);
    visibility: visible;

}

.form-control.error i.exclamation-circle{

    color: #FF1616;
    visibility: visible;

}

.form-control.error small {
    color: #FF1616;
    visibility: visible;
    
}




